.shoulder {
    background-color: rgba(255, 255, 255, 1.0);
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
}

.shoulder .div {
    background-color: rgba(255, 255, 255, 1.0);
    overflow: hidden;
    background: linear-gradient(270deg, #2ecc71, #2c3e50);

    width: 1440px;
    height: 3050px;
    position: relative;
}

.shoulder .logo {
    top: 68px;
    left: 50px;
    font-family: "Montserrat-Bold", Helvetica;
    font-weight: 700;
    font-size: 36px;
    position: absolute;
    color: #ffffff;
    letter-spacing: 0;
    line-height: normal;
}

.shoulder .frame {
    width: 724px;
    height: 20px;
    justify-content: space-between;
    padding: 20px;
    padding-bottom: 15px;
    position: absolute;
    top: 62px;
    left: 358px;
    background-color: #ecf0f1;
    border-radius: 35px;
    display: flex;
    align-items: center;
}
a{
    text-decoration: none;
}
.shoulder .home {
    position: relative;
    width: 58.51px;
    height: 30px;
    margin-top: -6.50px;
    margin-bottom: -6.50px;
    margin-left: 10px;

}
.shoulder .home .text-wrapper:hover,
.shoulder .home-wrapper .home-2:hover,
.shoulder .home .text-wrapper:hover,
.shoulder .div-wrapper .home-3:hover,
.shoulder .home-4 .home-5:hover {
    text-decoration: underline;
}

.shoulder .text-wrapper {
    width: 59px;
    top: -1px;
    left: 0;
    font-family: "Roboto-SemiBold", Helvetica;
    font-weight: 600;
    color: #2c3e50;
    font-size: 21.8px;
    white-space: nowrap;
    position: absolute;
    letter-spacing: 0;
    line-height: normal;
}

.shoulder .home-wrapper {
    position: relative;
    width: 98px;
    height: 30px;
    margin-top: -6.50px;
    margin-bottom: -6.50px;
}

.shoulder .home-2 {
    position: absolute;
    width: 98px;
    top: -1px;
    left: 0;
    font-family: "Roboto-SemiBold", Helvetica;
    font-weight: 600;
    color: #2c3e50;
    font-size: 21.8px;
    letter-spacing: 0;
    line-height: normal;
    white-space: nowrap;
}

.shoulder .div-wrapper {
    position: relative;
    width: 73px;
    height: 30px;
    margin-top: -6.50px;
    margin-bottom: -6.50px;
}

.shoulder .home-3 {
    position: absolute;
    width: 73px;
    top: -1px;
    left: 0;
    font-family: "Roboto-SemiBold", Helvetica;
    font-weight: 600;
    color: #2c3e50;
    font-size: 21.8px;
    letter-spacing: 0;
    line-height: normal;
    white-space: nowrap;
}

.shoulder .home-4 {
    position: relative;
    width: 80px;
    height: 30px;
    margin-top: -6.50px;
    margin-bottom: -6.50px;
    margin-right: 10px;

}

.shoulder .home-5 {
    position: absolute;
    width: 80px;
    top: -1px;
    left: 0;
    font-family: "Roboto-SemiBold", Helvetica;
    font-weight: 600;
    color: #2c3e50;
    font-size: 21.8px;
    letter-spacing: 0;
    line-height: normal;
    white-space: nowrap;
}

.shoulder .text-wrapper-2 {
    position: absolute;
    top: 222px;
    left: 491px;
    font-family: "Montserrat-Bold", Helvetica;
    font-weight: 700;
    color: #ffffff;
    font-size: 48px;
    letter-spacing: 0;
    line-height: normal;
}

.shoulder .p {
    position: absolute;
    width: 1072px;
    top: 308px;
    left: 184px;
    font-family: "Roboto-Regular", Helvetica;
    font-weight: 400;
    color: #ffffff;
    font-size: 20px;
    letter-spacing: 0;
    line-height: normal;
}

.shoulder .frame-2 {
    width: 1258px;
    justify-content: space-between;
    padding: 4.08px;
    position: absolute;
    top: 530px;
    left: 91px;
    border-radius: 40.82px;
    display: flex;
    align-items: center;
}

.shoulder .option-wrapper {
    width: 106.13px;
    height: 42.18px;
    justify-content: center;
    padding-top: 5px;
    padding-left: 20px;
    padding-right: 20px;
    position: relative;
    border-radius: 46.29px;
    border: 3.7px solid;
    border-color: #f39c12;
    display: flex;
    align-items: center;
    margin-right: 20px;
}

.shoulder .option {
    margin-top: -14.92px;
    margin-bottom: -7.52px;
    margin-left: -10.06px;
    margin-right: -10.06px;
    color: #f39c12;
    position: relative;
    width: fit-content;
    font-family: "Roboto-SemiBold", Helvetica;
    font-weight: 600;
    font-size: 29.6px;
    letter-spacing: 0;
    line-height: normal;
    white-space: nowrap;
}

.shoulder .frame-3 {
    width: 110.22px;
    height: 42.18px;
    justify-content: center;
    padding-top: 5px;
    padding-left: 20px;
    padding-right: 20px;
    position: relative;
    border-radius: 46.29px;
    border: 3.7px solid;
    border-color: #f39c12;
    display: flex;
    align-items: center;
    margin-right: 20px;
}

.shoulder .option-2 {
    margin-top: -14.92px;
    margin-bottom: -7.52px;
    margin-left: -13.52px;
    margin-right: -13.52px;
    color: #f39c12;
    position: relative;
    width: fit-content;
    font-family: "Roboto-SemiBold", Helvetica;
    font-weight: 600;
    font-size: 29.6px;
    letter-spacing: 0;
    line-height: normal;
    white-space: nowrap;
}

.shoulder .frame-4 {
    width: 97.97px;
    height: 42.18px;
    justify-content: center;
  
    position: relative;
    border-radius: 46.29px;
    border: 3.7px solid;
    border-color: #f39c12;
    display: flex;
    align-items: center;
    padding-top: 5px;
    padding-left: 20px;
    padding-right: 20px;
    margin-right: 20px;
}

.shoulder .option-3 {
    margin-top: -14.92px;
    margin-bottom: -7.52px;
    margin-left: -16.64px;
    margin-right: -16.64px;
    color: #f39c12;
    position: relative;
    width: fit-content;
    font-family: "Roboto-SemiBold", Helvetica;
    font-weight: 600;
    font-size: 29.6px;
    letter-spacing: 0;
    line-height: normal;
    white-space: nowrap;
}

.shoulder .frame-5 {
    width: 103.41px;
    height: 42.18px;
    justify-content: center;
   
    position: relative;
    border-radius: 46.29px;
    border: 3.7px solid;
    border-color: #f39c12;
    display: flex;
    align-items: center;
    margin-right: 20px;
    padding-top: 5px;
    padding-left: 20px;
    padding-right: 20px;
}

.shoulder .option-4 {
    margin-top: -14.92px;
    margin-bottom: -7.52px;
    margin-left: -10.42px;
    margin-right: -10.42px;
    color: #f39c12;
    position: relative;
    width: fit-content;
    font-family: "Roboto-SemiBold", Helvetica;
    font-weight: 600;
    font-size: 29.6px;
    letter-spacing: 0;
    line-height: normal;
    white-space: nowrap;
}

.shoulder .option-5 {
    margin-top: -14.92px;
    margin-bottom: -7.52px;
    margin-left: -10.92px;
    margin-right: -10.92px;
    color: #f39c12;
    position: relative;
    width: fit-content;
    font-family: "Roboto-SemiBold", Helvetica;
    font-weight: 600;
    font-size: 29.6px;
    letter-spacing: 0;
    line-height: normal;
    white-space: nowrap;
}

.shoulder .frame-6 {
    width: 159px;
    height: 42.18px;
    justify-content: center;
    
    position: relative;
    background-color: #f39c12;
    border-radius: 46.29px;
    box-shadow: 0px 7.41px 25.92px #f39c1259;
    display: flex;
    align-items: center;
    padding-top: 5px;
    padding-left: 20px;
    padding-right: 20px;
    margin-right: 20px;
}

.shoulder .option-6 {
    margin-top: -13.07px;
    margin-bottom: -9.37px;
    margin-left: -17.62px;
    margin-right: -17.62px;
    color: #ffffff;
    position: relative;
    width: fit-content;
    font-family: "Roboto-SemiBold", Helvetica;
    font-weight: 600;
    font-size: 29.6px;
    letter-spacing: 0;
    line-height: normal;
    white-space: nowrap;
}

.shoulder .frame-7 {
    width: 188px;
    height: 42.18px;
    justify-content: center;
    
    position: relative;
    border-radius: 46.29px;
    border: 3.7px solid;
    border-color: #f39c12;
    display: flex;
    align-items: center;
    padding-top: 5px;
    padding-left: 20px;
    padding-right: 20px;
    margin-right: 20px;
}

.shoulder .option-7 {
    margin-top: -14.92px;
    margin-bottom: -7.52px;
    margin-left: -17.62px;
    margin-right: -17.62px;
    color: #f39c12;
    position: relative;
    width: fit-content;
    font-family: "Roboto-SemiBold", Helvetica;
    font-weight: 600;
    font-size: 29.6px;
    letter-spacing: 0;
    line-height: normal;
    white-space: nowrap;
}

.shoulder .overlap {
    position: absolute;
    width: 1468px;
    height: 429px;
    top: 2621px;
    left: 0;
}

.shoulder .footer {
    position: absolute;
    width: 1468px;
    height: 429px;
    top: 0;
    left: 0;
    background-color: transparent;
}

.shoulder .overlap-group {
    position: relative;
    width: 1444px;
    height: 433px;
    top: -2px;
    left: -2px;
    background-color: #2c3e50;
    border-top-width: 2px;
    border-top-style: solid;
    border-color: #ffffff;
}

.shoulder .text-wrapper-3 {
    position: absolute;
    width: 50px;
    top: 224px;
    left: 791px;
    font-family: "Roboto-Regular", Helvetica;
    font-weight: 400;
    color: #ffffff99;
    font-size: 14px;
    letter-spacing: 0;
    line-height: normal;
}

.shoulder .text-wrapper-4 {
    position: absolute;
    width: 24px;
    top: 224px;
    left: 1160px;
    font-family: "Roboto-Regular", Helvetica;
    font-weight: 400;
    color: #ffffff99;
    font-size: 14px;
    letter-spacing: 0;
    line-height: normal;
}

.shoulder .text-wrapper-5 {
    position: absolute;
    width: 87px;
    top: 277px;
    left: 791px;
    font-family: "Roboto-Regular", Helvetica;
    font-weight: 400;
    color: #ffffff99;
    font-size: 14px;
    letter-spacing: 0;
    line-height: normal;
}

.shoulder .text-wrapper-6 {
    position: absolute;
    width: 49px;
    top: 277px;
    left: 1160px;
    font-family: "Roboto-Regular", Helvetica;
    font-weight: 400;
    color: #ffffff99;
    font-size: 14px;
    letter-spacing: 0;
    line-height: normal;
}

.shoulder .text-wrapper-7 {
    position: absolute;
    width: 52px;
    top: 172px;
    left: 791px;
    font-family: "Roboto-Regular", Helvetica;
    font-weight: 400;
    color: #ffffff99;
    font-size: 14px;
    letter-spacing: 0;
    line-height: normal;
}

.shoulder .text-wrapper-8 {
    width: 37px;
    top: 172px;
    left: 1160px;
    font-family: "Roboto-Regular", Helvetica;
    font-weight: 400;
    color: #ffffff99;
    font-size: 14px;
    position: absolute;
    letter-spacing: 0;
    line-height: normal;
}

.shoulder .text-wrapper-9 {
    position: absolute;
    width: 42px;
    top: 113px;
    left: 791px;
    font-family: "Roboto-Medium", Helvetica;
    font-weight: 500;
    color: #ffffff;
    font-size: 20px;
    letter-spacing: 0;
    line-height: normal;
}

.shoulder .text-wrapper-10 {
    position: absolute;
    width: 74px;
    top: 113px;
    left: 1160px;
    font-family: "Roboto-Medium", Helvetica;
    font-weight: 500;
    color: #ffffff;
    font-size: 20px;
    letter-spacing: 0;
    line-height: normal;
}

.shoulder .text-wrapper-11 {
    position: absolute;
    width: 46px;
    top: 280px;
    left: 430px;
    font-family: "Roboto-Regular", Helvetica;
    font-weight: 400;
    color: #ffffff99;
    font-size: 14px;
    letter-spacing: 0;
    line-height: normal;
}

.shoulder .text-wrapper-12 {
    position: absolute;
    width: 56px;
    top: 224px;
    left: 430px;
    font-family: "Roboto-Regular", Helvetica;
    font-weight: 400;
    color: #ffffff99;
    font-size: 14px;
    letter-spacing: 0;
    line-height: normal;
}

.shoulder .text-wrapper-13 {
    position: absolute;
    width: 85px;
    top: 108px;
    left: 430px;
    font-family: "Roboto-Medium", Helvetica;
    font-weight: 500;
    color: #ffffff;
    font-size: 20px;
    letter-spacing: 0;
    line-height: normal;
}

.shoulder .text-wrapper-14 {
    position: absolute;
    width: 28px;
    top: 169px;
    left: 430px;
    font-family: "Roboto-Regular", Helvetica;
    font-weight: 400;
    color: #ffffff99;
    font-size: 14px;
    letter-spacing: 0;
    line-height: normal;
}

.shoulder .logo-2 {
    width: 83px;
    top: 96px;
    left: 101px;
    font-family: "Roboto-SemiBold", Helvetica;
    font-weight: 600;
    font-size: 32px;
    position: absolute;
    color: #ffffff;
    letter-spacing: 0;
    line-height: normal;
}

.shoulder .text-wrapper-15 {
    position: absolute;
    width: 146px;
    top: 203px;
    left: 101px;
    font-family: "Roboto-Medium", Helvetica;
    font-weight: 500;
    color: #ffffff;
    font-size: 20px;
    letter-spacing: 0;
    line-height: normal;
}

.shoulder .line {
    position: absolute;
    width: 1058px;
    height: 1px;
    top: 362px;
    left: 192px;
    object-fit: cover;
}

.shoulder .facebook {
    position: absolute;
    width: 24px;
    height: 24px;
    top: 244px;
    left: 114px;
}

.shoulder .instagram {
    position: absolute;
    width: 24px;
    height: 24px;
    top: 244px;
    left: 173px;
}

.shoulder .group {
    top: 817px;
    left: 50px;
    position: absolute;
    width: 612px;
    height: 805px;
}

.shoulder .overlap-2 {
    position: relative;
    width: 608px;
    height: 805px;
    background-color: #ffffff;
    border-radius: 55px;
}

.shoulder .text-wrapper-16 {
    position: absolute;
    width: 411px;
    top: 741px;
    left: 98px;
    font-family: "Roboto-Regular", Helvetica;
    font-weight: 400;
    color: #2c3e50;
    font-size: 16px;
    text-align: center;
    letter-spacing: 0;
    line-height: normal;
}

.shoulder .mask-group {
    position: absolute;
    width: 542px;
    height: 580px;
    top: 28px;
    left: 33px;
}

.shoulder .text-wrapper-17 {
    position: absolute;
    top: 637px;
    left: 168px;
    font-family: "Roboto-SemiBold", Helvetica;
    font-weight: 600;
    color: #2c3e50;
    font-size: 24px;
    letter-spacing: 0;
    line-height: normal;
    white-space: nowrap;
}

.shoulder .frame-8 {
    width: 532px;
    justify-content: space-between;
    position: absolute;
    top: 699px;
    left: 45px;
    display: flex;
    align-items: center;
}

.shoulder .text-wrapper-18 {
    position: relative;
    width: fit-content;
    margin-top: -1.00px;
    font-family: "Roboto-SemiBold", Helvetica;
    font-weight: 600;
    color: #2c3e50;
    font-size: 16px;
    white-space: nowrap;
    letter-spacing: 0;
    line-height: normal;
}

.shoulder .overlap-wrapper {
    top: 1761px;
    left: 50px;
    position: absolute;
    width: 612px;
    height: 805px;
}

.shoulder .text-wrapper-19 {
    position: absolute;
    top: 637px;
    left: 237px;
    font-family: "Roboto-SemiBold", Helvetica;
    font-weight: 600;
    color: #2c3e50;
    font-size: 24px;
    letter-spacing: 0;
    line-height: normal;
    white-space: nowrap;
}

.shoulder .overlap-group-wrapper {
    top: 1761px;
    left: 782px;
    position: absolute;
    width: 612px;
    height: 805px;
}
.shoulder .home .text-wrapper:hover,
.shoulder .home-wrapper .home-2:hover,
.shoulder .home .text-wrapper:hover,
.shoulder .div-wrapper .home-3:hover,
.shoulder .home-4 .home-5:hover {
    text-decoration: underline;
}


.shoulder .text-wrapper-20 {
    position: absolute;
    width: 411px;
    top: 735px;
    left: 99px;
    font-family: "Roboto-Regular", Helvetica;
    font-weight: 400;
    color: #2c3e50;
    font-size: 15px;
    text-align: center;
    letter-spacing: 0;
    line-height: normal;
}

.shoulder .text-wrapper-21 {
    position: absolute;
    top: 637px;
    left: 230px;
    font-family: "Roboto-SemiBold", Helvetica;
    font-weight: 600;
    color: #2c3e50;
    font-size: 24px;
    letter-spacing: 0;
    line-height: normal;
    white-space: nowrap;
}

.shoulder .group-2 {
    top: 817px;
    left: 782px;
    position: absolute;
    width: 612px;
    height: 805px;
}

.shoulder .text-wrapper-22 {
    position: absolute;
    width: 411px;
    top: 741px;
    left: 99px;
    font-family: "Roboto-Regular", Helvetica;
    font-weight: 400;
    color: #2c3e50;
    font-size: 16px;
    text-align: center;
    letter-spacing: 0;
    line-height: normal;
}

.shoulder .text-wrapper-23 {
    position: absolute;
    top: 637px;
    left: 228px;
    font-family: "Roboto-SemiBold", Helvetica;
    font-weight: 600;
    color: #2c3e50;
    font-size: 24px;
    letter-spacing: 0;
    line-height: normal;
    white-space: nowrap;
}

.shoulder .text-wrapper-24 {
    position: absolute;
    top: 674px;
    left: 479px;
    font-family: "Montserrat-Bold", Helvetica;
    font-weight: 700;
    color: #ffffff;
    font-size: 40px;
    text-align: center;
    letter-spacing: 0;
    line-height: normal;
}
